@import url("https://fonts.googleapis.com/css?family=VT323");

::selection {color:#FFFFFF; background:transparent;}
::-moz-selection {color:#FFFFFF; background:transparent;}

*{
    margin: 0;
    padding: 0;
    font-family: "VT323", serif;
}
body{
    background-color: #000000;
}
.wrap{
    margin-left: auto;
    margin-right: auto;
}
header{
    width: 340px;
    font-size: 0;
}
canvas{
    position: absolute;
    border-style: solid;
    width: 90vw;
    height: 90vh;
    left: 5vw;
    top: 5vh;
    z-index: -10;
}

canvas:before {
    content: "";
    display: block;
    padding-top: 100%;
}

canvas:focus{
    outline: none;
}

/* Top Styles */
h1{
    display: inline-block;
    width: 100px;
    font-size: 32px;
    color: #FFFFFF;
}
.score{
    display: inline-block;
    width: 240px;
    font-size: 20px;
    color: #FFFFFF;
    text-align: right;
}
.score_value{
    font-size: inherit;
}


/* UI Container */
#ui {
    display: ;
    height: 100vh;
    align-items:center;
    align-self: center;
    justify-content: center;
}

/* All screens style */
#gameover a, #setting a, #menu a{
    display: block;
}

#gameover a, #setting a:hover, #menu a:hover, #lobby a:hover{
    cursor: pointer;
}

#gameover a:hover::before, #setting a:hover::before, #menu a:hover::before, #lobby a:hover::before{
    content: ">";
    margin-right: 10px;
}

/* Menu Screen Style */
#menu {
    position: relative;
    display: block;
    width: 500px;
    padding-top: 95px;
    padding-bottom: 95px;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #FFF;
}

/* Settings Screen Style */
#setting{
    display: none;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 85px;
    padding-bottom: 85px;
    font-size: 30px;
    color: #FFF;
    text-align: center;
}

#lobby {
    display: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
    padding-bottom: 85px;
    font-size: 30px;
    color: #FFF;
    text-align: center;
    height: 75%;
}

#gamescreen {
    width: 95vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    color: #FFF;
    text-align: center;
    margin-top: 5em;
    grid-template-columns: 1fr 1fr;

}

#lobby #players {
    height: 80%;
    max-height: 80%;
    overflow-y: hidden;
    display: none;
}

#lobby #no_players {
    height: 80%;
    max-height: 80%;
    overflow-y: hidden;
    display: block;
}

#player_kick {
    user-select: none;
    -moz-user-select: none;
    margin-left: 10px;
}

#player_kick:hover {
    background-color: #FFF;
    color: #000;
    cursor: pointer;
}

/* Game Over Screen Style */

#gameover{
    display: none;
    width: 500px;
    padding-top: 95px;
    padding-bottom: 95px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    color: #FFF;
}

#scoreboard {
    flex: 1;
    display: inherit;
    padding-top: 5px;
    padding-left: 10em;
}

#ticks {
    flex: 2;
    display: inherit;
    padding-top: 5px;
    padding-right: 10em;
}

#menu h2{
    -webkit-animation: logo-ani 1000ms linear infinite;
    animation: logo-ani 1000ms linear infinite;
    margin-bottom: 30px;

}

#setting h2{
    margin-bottom: 15px;
}

#lobby h2{
    margin-bottom: 15px;
}

#menu a{
    font-size: 30px;
}

#setting p{
    margin-top: 10px;
}

#lobby p{
    margin-top: 10px;
}

#gameover p{
    margin-top: 25px;
    font-size: 20px;
}

@-webkit-keyframes logo-ani{
    50%{-webkit-transform: scale(1.3,1.3);}
    100%{-webkit-transform: scale(1.0,1.0);}
}

@keyframes logo-ani{
    50%{transform: scale(1.3,1.3);}
    100%{transform: scale(1.0,1.0);}
}

#setting input{
    display:none;
}

#setting label{
    cursor: pointer;
}

#setting input:checked + label{
    background-color: #FFF;
    color: #000;
}

#lobby input{
    display:none;
}

/*

#lobby label{
    cursor: pointer;
}
*/

#lobby input:checked + label{
    background-color: #FFF;
    color: #000;
}

#logArea {
    color: #FFF
}